﻿@model Llano.ViewModels.SidebarViewModel

@{
    ViewData["Title"] = "Default";
}

<aside id="sidebar" class="u-sidebar">
    <div class="u-sidebar-inner">
        <header class="u-sidebar-header">
            <a class="u-sidebar-logo" href="index.html">
                <img class="img-fluid" src="./assets/img/logo.png" width="124" alt="Stream Dashboard">
            </a>


        </header>

        <nav class="u-sidebar-nav">
            <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">
                <!-- Usuarios -->
                <li class="u-sidebar-nav-menu__item">
                    <a asp-controller="User" asp-action="Index" class="u-sidebar-nav-menu__link">
                        <i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
                        <span class="u-sidebar-nav-menu__item-title">Usuarios</span>
                    </a>
                </li>
                <!-- End Dashboard -->
                <!-- Base UI -->
                <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="#!"
                       data-target="#baseUI">
                        <i class="far fa-gem u-sidebar-nav-menu__item-icon"></i>
                        <span class="u-sidebar-nav-menu__item-title">Contenido</span>
                        <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                        <span class="u-sidebar-nav-menu__indicator"></span>
                    </a>

                    <ul id="baseUI" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level" style="display: none;">
                        <!-- Palabras = 1 -->
                        <li class="u-sidebar-nav-menu__item">
                            <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="1" class="u-sidebar-nav-menu__link">
                                <span class="u-sidebar-nav-menu__item-icon">P</span>
                                <span class="u-sidebar-nav-menu__item-title">Palabras</span>
                            </a>
                        </li>

                        <!-- Refranes = 2 -->
                        <li class="u-sidebar-nav-menu__item">
                            <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="2" class="u-sidebar-nav-menu__link">
                                <span class="u-sidebar-nav-menu__item-icon">R</span>
                                <span class="u-sidebar-nav-menu__item-title">Refranes</span>
                            </a>
                        </li>

                        <!-- Coplas = 3 -->
                        <li class="u-sidebar-nav-menu__item">
                            <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="3" class="u-sidebar-nav-menu__link" >
                                <span class="u-sidebar-nav-menu__item-icon">C</span>
                                <span class="u-sidebar-nav-menu__item-title">Coplas</span>
                            </a>
                        </li>


                        <!-- Leyendas = 4 -->
                        <li class="u-sidebar-nav-menu__item">
                            <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="4" class="u-sidebar-nav-menu__link">
                                <span class="u-sidebar-nav-menu__item-icon">L</span>
                                <span class="u-sidebar-nav-menu__item-title">Leyendas</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>

