<ion-content style="border-radius: 20px" >
  <div (click)="close()" style="position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  z-index: 9;">
    <ion-icon style="font-size: 1.5em;" name="close"></ion-icon>
  </div>
  <ion-list lines="none" style="padding: 0px">
    <ion-item style="display: flex; padding: 40px 0px 20px 0px">
      <ion-thumbnail style="margin: auto;">
        <img src="../../../../assets/img/splash.svg">
      </ion-thumbnail>
    </ion-item>

    <ion-item lines="none">
      <ion-label text-wrap class="ion-text-center">
        <h1> {{notification.title}}</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap ion-text-center">

        <p style="font-size: 17px;" *ngIf="notification.body.length > 140">{{notification.body.substring(0, 140)}} ...
        </p>
        <p style="font-size: 17px;" *ngIf="notification.body.length <= 140">{{notification.body}}</p>

      </ion-label>
    </ion-item>
  </ion-list>
  <div style="position: absolute; bottom: 0px;">
    <img src="../../../../assets/img/pasto.svg">
  </div>
</ion-content>