app-app-notification {
    ion-avatar {
        width: 40px;
        max-height: 40px;
        border-radius: 0px !important;

        img{
          width: 100%;
          height: auto !important;
          --border-radius: 0px !important;
        }
    }
}

.iconNotification{
    vertical-align: middle;
    color: #00a82d;
    font-size: 20px;
    animation: bell 1s 1s both infinite;
  }

  @keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(0); }
    80% { transform: rotate(0); }
    90% { transform: rotate(-30deg); }
    100% { transform: rotate(0); }
  }