﻿@model Llano.ViewModels.ResourceHistoriesViewModel
@{

    var disabledClass = true;
    if (ViewData["FormAction"].ToString() != "Read")
    {
        disabledClass = false;
    }

}

<main class="u-main" role="main">
    @await Component.InvokeAsync("Sidebar")
    <div class="u-content">
        <div class="u-body">

            <div class="mb-4">
                <nav aria-label="breadcrumb">
                    <h1 style="font-family:Livvic-Medium" class="h3">@ViewData["Title"]</h1>
                </nav>
            </div>

            <form id="myForm" class="validateDontSubmit" asp-controller="Resource" asp-action="Edit" method="post">
                <!-- Form Controls -->
                <div class="row">

                    <!-- Informacion del Usuario -->
                    <div class="col-12 mb-4">
                        <div class="card">
                            <header class="card-header">
                                <h2 class="h3 card-header-title">Información Usuario</h2>
                            </header>

                            <div class="card-body row">

                                <input type="hidden" asp-for="@Model.Resource.UserApplication.FirstName" class="form-control" required />
                                <input type="hidden" asp-for="@Model.Resource.UserApplication.LastName" class="form-control" required />
                                <input type="hidden" asp-for="@Model.Resource.UserApplication.CreatedOn" class="form-control" required />



                                <div class="form-group col-12 col-md-6 mb-4">
                                    <label for="defaultInput">Nombres y Apellidos</label>
                                    @{
                                        var nombreCompleto = Model.Resource.UserApplication.FirstName + " " + Model.Resource.UserApplication.LastName;
                                    }

                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="fa fa-user-circle form-icon__item"></i>
                                        </span>
                                        <input value="@nombreCompleto" class="form-control form-icon-input-left" required disabled>
                                    </span>

                                </div>

                                <div class="form-group col-12 col-md-6 mb-4">
                                    <label for="defaultInput">Telefono</label>
                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="fa fa-phone form-icon__item"></i>
                                        </span>
                                        <input value="@Model.Resource.UserApplication.PhoneNumber" class="form-control form-icon-input-left" required disabled>
                                    </span>

                                </div>

                                <div class="form-group col-12 col-md-6  mb-4">
                                    <label for="defaultInput">Correo Electronico</label>
                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="fa fa-envelope-square form-icon__item"></i>
                                        </span>
                                        <input asp-for="@Model.Resource.UserApplication.Email" class="form-control form-icon-input-left" required disabled>

                                    </span>

                                </div>

                                <div class="form-group col-12 col-md-6  mb-4">
                                    <label for="inputLeftIcon">Fecha de Registro</label>
                                    <input value="@Model.Resource.UserApplication.CreatedOn.ToShortDateString()" class="form-control" required disabled>
                                </div>


                            </div>
                        </div>



                    </div>



                    <!-- Informacion del Aporte -->
                    <div class="col-12 mb-4">
                        <div class="card d-flex">
                            <header class="card-header">
                                <h2 class="h3 card-header-title">Datos Contenido</h2>
                            </header>

                            <div class="card-body row">

                                <input type="hidden" asp-for="@Model.Resource.Id" class="form-control" required />
                                <input type="hidden" asp-for="@Model.Resource.CreatedOn" class="form-control" required />
                                <input type="hidden" asp-for="@Model.Resource.StatusResourceId" class="form-control" required />
                                <input type="hidden" asp-for="@Model.Resource.TypeResourceId" class="form-control" required />

                                <input type="hidden" id="messageHide" asp-for="@Model.Message" class="form-control" required />
                                <input type="hidden" id="resourceDisableHide" asp-for="@Model.Resource.Disable" class="form-control" required />

                                <div class="form-group col-12 col-md-6 mb-4">
                                    <label for="defaultInput1">Categoria</label>
                                    <input asp-for="@Model.Resource.TypeResource.Name" class="form-control" required disabled>
                                </div>

                                <div class="form-group col-12 col-md-6 mb-4">
                                    <label for="inputLeftIcon1"> Fecha de Solicitud </label>
                                    <input value="@Model.Resource.CreatedOn.ToShortDateString()" class="form-control" disabled>
                                </div>

                                <hr class="my-4">

                                @if (Model.Resource.Name.Length > 0)
                                {
                                    <div class="form-group col-12">
                                        <label for="inputRightIcon1">Nombre</label>
                                        <input asp-for="@Model.Resource.Name" class="form-control text-justify" rows="10" disabled />
                                    </div>

                                    <div class="form-group col-12 col-md-6">

                                    </div>

                                }

                                <div class="form-group col-12">
                                    <label for="inputRightIcon1">Contenido</label>
                                    @{
                                        if (disabledClass)
                                        {
                                            <textarea asp-for="@Model.Resource.Content" class="form-control text-justify" rows="10" disabled></textarea>
                                        }
                                        else
                                        {
                                            <textarea asp-for="@Model.Resource.Content" class="form-control text-justify" rows="10" required></textarea>
                                        }
                                    }

                                </div>
                            </div>
                            @{
                                // Leyendas = 4

                                if (Model.Resource.TypeResourceId == 4)
                                {
                                    <input id="urlAudio" asp-for="@Model.Resource.Audio" class="form-control text-justify d-none" />
                                    <div class="col-12">
                                        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                                        <div id="jp_container_1" class="jp-audio pb-4" role="application" aria-label="media player">
                                            <div class="jp-type-single">
                                                <div class="jp-gui jp-interface">
                                                    <div class="jp-volume-controls">
                                                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                                                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                                        <div class="jp-volume-bar">
                                                            <div class="jp-volume-bar-value"></div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-controls-holder" style="max-width:400px !important">
                                                        <div class="jp-controls">
                                                            <button class="jp-play" role="button" tabindex="0">play</button>
                                                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                                                        </div>
                                                        <div class="jp-progress">
                                                            <div class="jp-seek-bar">
                                                                <div class="jp-play-bar"></div>
                                                            </div>
                                                        </div>
                                                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                                        <div class="jp-toggles">
                                                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="jp-no-solution">
                                                    <span>Update Required</span>
                                                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                            <div class="col-12 mb-4  ">
                                <span class="float-right">

                                    <button id="submitApproved" type="submit" class="btn btn-secondary">Aprobar</button>
                                    <a asp-controller="Resource" asp-action="Edit" asp-route-idResource="@Model.Resource.Id" type="button" class="btn btn-warning">Editar</a>

                                    <button id="submitDescartar" type="submit" class="btn btn-danger">Descartar</button>
                                </span>
                            </div>

                        </div>

                    </div>


                    <!--  Historial de Mensajes -->
                    <div class="col-md-12">
                        <div class="card h-100">
                            <header class="card-header d-md-flex align-items-center">
                                <h2 class="h3 card-header-title">Historial Mensajes</h2>
                                <!-- End Nav Tabs -->
                            </header>

                            <div class="card-body p-0 m-0">
                                <div class="tab-content" id="commentsTabs">
                                    <div class="list-group list-lg-group list-group-flush">
                                        @{
                                            if (Model.HistoriesResource.Count > 1)
                                            {
                                                var indexMessage = 1;
                                                foreach (var item in Model.HistoriesResource)
                                                {
                                                    if (indexMessage != 1)
                                                    {
                                                        <a class="list-group-item list-group-item-action">
                                                            <div class="media">
                                                                <img class="u-avatar rounded-circle mr-3" src="~/img/user.svg" alt="Image description">

                                                                <div class="media-body">
                                                                    <div class="d-md-flex align-items-center">
                                                                        <h4 class="mb-1">
                                                                            Administrador
                                                                            @{
                                                                                var classStatus = "";
                                                                                switch (item.StatusResource.Id)
                                                                                {
                                                                                    case 1:
                                                                                        // solicitado
                                                                                        classStatus = "warning";
                                                                                        break;
                                                                                    case 2:
                                                                                        // Descartado
                                                                                        classStatus = "danger";
                                                                                        break;
                                                                                    case 3:
                                                                                        // Aprobado
                                                                                        classStatus = "success";
                                                                                        break;
                                                                                    default:
                                                                                        break;
                                                                                }

                                                                            }

                                                                            <span class="badge badge-soft-@classStatus mx-1">@item.StatusResource.Name</span>
                                                                        </h4>
                                                                        <small class="text-muted ml-md-auto">@item.CreatedOn.ToShortDateString() </small>
                                                                    </div>

                                                                    <p class="mb-0">@item.Message</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    }

                                                    indexMessage = indexMessage + 1;

                                                }
                                            }
                                            else
                                            {
                                                <a class="list-group-item list-group-item-action">
                                                    <p> No hay historial </p>
                                                </a>
                                            }

                                        }

                                        <!-- Comment -->
                                        <!-- End Comment -->

                                    </div>
                                    <!-- End Tabs Content -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</main>



<!-- Modals Discarded -->
<div class="modal fade " id="modalDiscarded" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-block">
            <div class="modal-header">
                <h4 style="font-family:Livvic-Medium" class="modal-title" id="exampleModalLongTitle">Descartar Contenido</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @{
                    var nombreCompleto2 = Model.Resource.UserApplication.FirstName + " " + Model.Resource.UserApplication.LastName;
                }

                <form id="formDiscarded">
                    <!-- Descartado = 2  -->
                    <input type="hidden" asp-for="@Model.Resource.StatusResourceId" value="2" class="form-control" required />

                    <label for="defaultInput"> Cuentale a @nombreCompleto2 por que descartas su aporte</label>

                    <div class="form-group col-12 mb-4">
                        <textarea id="messageDiscardedShow" class="form-control text-justify" rows="5" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-danger d-none">Oculto</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="submitEnviar" type="submit" form="myForm" class="btn btn-danger">Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals Approved -->
<div class="modal fade " id="modalApproved" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-block">
            <div class="modal-header">
                <h4 style="font-family:Livvic-Medium" class="modal-title" id="exampleModalLongTitle">Aprobar Contenido</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @{
                    var nombreCompleto3 = Model.Resource.UserApplication.FirstName + " " + Model.Resource.UserApplication.LastName;
                }

                <form id="formApproved">
                    <!-- Aprobado = 3  -->
                    <input type="hidden" asp-for="@Model.Resource.StatusResourceId" value="3" class="form-control" required />

                    <label for="defaultInput"> Agradecela a @nombreCompleto3 por su aporte</label>

                    <div class="form-group col-12 mb-4">
                        <textarea id="messageApprovedShow" class="form-control text-justify" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger d-none">Oculto</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="submitEnviar" type="submit" form="myForm" class="btn btn-danger">Enviar</button>
            </div>
        </div>
    </div>
</div>

 