﻿@model List<Resource>

@{ 
    ViewData["Title"] = "Recursos";
}

<main class="u-main" role="main">
    @await Component.InvokeAsync("Sidebar")
    <div class="u-content">
        <div class="u-body">

            <!--  Tabla para mostrar los contenidos en estado solicitado -->
            <div class="card">
                <div class="card mb-4">
                    <header class="card-header">
                        <h2 class="h3 card-header-title">Lista de @TempData["Type"].ToString()</h2>
                    </header>
                    <div class="card-body">
                        <div class="table-responsive">

                            @if (Model.Count > 0)
                            {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Solicita</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Categoria</th>
                                            <th scope="col" width="180">Fecha solicitud</th>
                                            <th class="text-center" scope="col">
                                                Accion
                                            </th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            var index = 1;
                                            foreach (var resource in Model)
                                            {
                                                


                                                <tr>
                                                    <td>@index</td>
                                                    <td>@resource.Name </td>
                                                    <td>@resource.UserApplication.FirstName @resource.UserApplication.LastName </td>
                                                    <td>@resource.UserApplication.Email </td>
                                                    <td>

                                                        @switch (resource.TypeResource.Name)
                                                        {

                                                            case "Palabras":
                                                                <a class="badge badge-soft-success" href="#">@resource.TypeResource.Name</a>
                                                                break;
                                                            case "Refranes":
                                                                <a class="badge badge-soft-info" href="#">@resource.TypeResource.Name</a>
                                                                break;
                                                            case "Coplas":
                                                                <a class="badge badge-soft-warning" href="#">@resource.TypeResource.Name</a>
                                                                break;
                                                            case "Leyendas":
                                                                <a class="badge badge-soft-danger" href="#">@resource.TypeResource.Name</a>
                                                                break;
                                                            default:
                                                                break;
                                                        }
                                                    </td>
                                                    <td>@resource.CreatedOn.ToShortDateString() </td>
                                                    <td class="text-center">
                                                        <a class="d-flex text-center  align-items-center link-muted py-2 px-3" asp-controller="Resource" asp-action="Read" asp-route-idResource="@resource.Id">
                                                            <i class="fa fa-external-link-alt mr-2"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                                index = index + 1;
                                            }
                                        }

                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>No se ha creado contenido</p>
                            }


                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</main>

