<ion-content>

  <div *ngIf="userView && !error">

    <div class="empty bg-secondary"></div>
    <div class="ion-text-center image-over-div">
      <img src="../../assets/img/user.svg" alt="" class="image-round border-white">
    </div>

    <div class="ion-text-center">
      <h4>{{userView.userApplication.firstName}} {{userView.userApplication.lastName}} </h4>
      <p class="text-profile">
        Yo tambien soy llanero, de pata limpia y de sombrero
      </p>
      <ion-item>
        <ion-label class="ion-text-center">Contribuiciones</ion-label>
      </ion-item>
    </div>

    <ion-grid fixed class="">
      <ion-row class="ion-no-padding">
        <ion-col size="4">
          <div class="ion-text-center">
            <span class="text-statics-big text-primary">{{userView.requested}} </span> <br>
            <small>Solicitudes</small>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="ion-text-center">
            <span class="text-statics-big text-primary">{{userView.approved}}</span> <br>
            <small>Aprobados</small>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="ion-text-center">
            <span class="text-statics-big text-primary">{{userView.discarded}}</span> <br>
            <small>Descartados</small>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-item lines="none" (click)="logout()" style="margin: auto; margin-top: 10px;">
        <ion-icon style="color: #747474" slot="start" name="power"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
      </ion-row>
      
    </ion-grid>

  </div>

  <div *ngIf="error" text-center class="height-80">
    <div class="control-evento">
      <ion-img src="../assets/img/error.svg"></ion-img>
      <p>!Opss! No hemos podido conectarnos</p>
      <ion-button fill="clear" class="itemRefresh" (click)="ngOnInit()">
        <ion-icon class="iconRefresh" slot="start" name="refresh-circle"></ion-icon>
        Toque para reintertar
      </ion-button>
    </div>
  </div>







</ion-content>