﻿@model ForgotPasswordViewModel

<div class="mb-3">
    <div class="mb-3">
        <h1 class="h2">Recuperar la contraseña</h1>
        <p class="small">Indícanos por favor tu correo electrónico para indicarte los pasos a seguir</p>
    </div>

    <form method="post">
        <div class="form-group mb-4">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" autofocus/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>


</div>
