﻿@model LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<script type="text/javascript" nonce="2726c7f26c">
    var count = 6;
    var redirect = "https://app.enerca.com.co/";

    function countDown() {
        var timer = document.getElementById("timer");
        if (count > 0) {
            count--;
            timer.innerHTML = "Te redireccionaremos en " + count + " segundos.";
            setTimeout("countDown()", 1000);
        } else {
            window.location.href = redirect;
        }
    }
</script>


<div class="mb-3">
    <div class="mb-3">
        <h1 class="h2">Cierre de Sesión</h1>

        <p>Esperamos que regreses pronto.</p>
        <a id="timer" class="btn btn-primary btn-block" href="https://app.enerca.com.co/">
        <script type="text/javascript" nonce="2726c7f26c">countDown();</script></a>
        @if (Model.PostLogoutRedirectUri != null)
        {
            <div>
                Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">Aquí</a> para ir
                <span>@Model.ClientName</span>.
            </div>
        }

        @if (Model.SignOutIframeUrl != null)
        {
            <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
        }
    </div>
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
