﻿@model LoginViewModel

<div class="mb-3">


    @if (Model.EnableLocalLogin)
    {

        <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl" />


            <div class="form-group mb-4">
                <label asp-for="Username">Correo electrónico</label>
                <input class="form-control" placeholder="Ingrese el email" asp-for="Username" autofocus>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Password">Contraseña</label>
                <input type="password" class="form-control" placeholder="Ingrese su contraseña" asp-for="Password" autocomplete="off">
            </div>
            @if (Model.AllowRememberLogin)
            {
                <div class="form-group d-flex justify-content-between align-items-center mb-4 login-remember">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="RememberLogin" class="custom-control-input" type="checkbox">
                        <label class="custom-control-label" asp-for="RememberLogin">
                            Recordarme
                        </label>
                    </div>

                    <a class="link-muted small" asp-controller="Account" asp-action="ForgotPassword">¿Olvidaste la contraseña?</a>
                </div>
            }

            <button class="btn btn-primary" name="button" value="login">Iniciar sesión</button>
            <a class="btn btn-success" name="button" href="https://app.enerca.com.co/register">Registrarme</a>
        </form>

    }
</div>
