﻿@model LogoutViewModel

<div class="mb-3">
    <div class="mb-3">
        <h1 class="h2">Cierre de Sesión</h1>
        <p class="small">Este proceso cierra la sesión en el navegador</p>
        <p>¿Esta seguro de cerrar tu sesión?</p>
        <form asp-action="Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
            <fieldset>
                <div class="form-group">
                    <button class="btn btn-primary">Si, estoy seguro.</button>
                    <a class="btn btn-warning" href="http://app.enerca.com.co">No, regresarme a la App.</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
