﻿@model string

@{
    ViewData["Title"] = "Confirmación de Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" nonce="2726c7f26c">
    var count = 6;
    var redirect = "https://app.enerca.com.co/";

    function countDown() {
        var timer = document.getElementById("timer");
        if (count > 0) {
            count--;
            timer.innerHTML = "Te redireccionaremos en " + count + " segundos.";
            setTimeout("countDown()", 1000);
        } else {
            window.location.href = redirect;
        }
    }
</script>

<div class="mb-3">
    <div class="mb-3">
        <h1 class="h2">@ViewData["Title"]</h1>
        <p>@Model</p>
    </div>
    

    <a id="timer" class="btn btn-primary btn-block" href="https://app.enerca.com.co/"><script type="text/javascript" nonce="2726c7f26c">countDown();</script></a>
</div>