﻿@model ResetPasswordViewModel
<div class="mb-3">
    <div class="mb-3">
        <h1 class="h2">Cambio de Contraseña</h1>
        <p class="small">Indícanos por favor los siguientes datos para restablecer tu contraseña</p>
    </div>

    <partial name="_ValidationSummary" />

    <form method="post">
        <input asp-for="Code" type="hidden" />
        <div class="form-group mb-4">
            <label asp-for="Email">Correo electrónico</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
            <label asp-for="Password">Contraseña</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
            <label asp-for="ConfirmPassword">Repetir contraseña</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </form>

</div>
