﻿
<div class="mb-3">
    <div class="mb-3">
        <h1 class="h2">Reenviar correo de activación</h1>
        <p class="small">Indícanos por favor tu correo electrónico para reenviar el correo de confirmación</p>
    </div>

    <partial name="_ValidationSummary" />



    <form asp-route="SendConfirmLink" method="post">

        <div class="form-group mb-4">
            <label for="email">Correo electrónico</label>
            <input class="form-control" placeholder="Ingrese el email" id="email" name="email" autofocus>
        </div>

        <button class="btn btn-primary" name="button" value="login">Enviar correo</button>
    </form>

</div>
