/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: Lobster;
    src: url(./assets/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: Livvic;
    src: url(./assets/Livvic/Livvic-Thin.ttf);
    src: url(./assets/Livvic/Livvic-Regular.ttf);
    src: url(./assets/Livvic/Livvic-Medium.ttf);
}

@font-face {
    font-family: Livvic-Thin;
    src: url(./assets/Livvic/Livvic-Thin.ttf);
}

@font-face {
    font-family: Livvic-Regular;
    src: url(./assets/Livvic/Livvic-Regular.ttf);

}

@font-face {
    font-family: Livvic-Medium;
    src: url(./assets/Livvic/Livvic-Medium.ttf);
}

@font-face {
    font-family: Livvic-Light;
    src: url(./assets/Livvic/Livvic-Light.ttf);
}

@font-face {
    font-family: Livvic-Bold;
    src: url(./assets/Livvic/Livvic-Bold.ttf);
}

html,
body,
ion-app,
ion-content {
    --ion-background-color: #f6f6f6;
}


.loading {
    font-family: Livvic-Regular;
    font-size: 1em;
}

.itemRefresh {
    font-family: Livvic-Thin;

    ion-icon {
        font-size: 2em;
        color: #ccc;
        vertical-align: middle;
    }
}

.custom-loader {
    --background: #ffffff;
    --height: 100%;
    --max-height: 100%;
    --width: 100%;
    --max-width: 100%;

    ion-backdrop {
        background-color: #ffffff;
        opacity: 0 !important;
    }

    .loading-wrapper {
       background-image: url(https://media.giphy.com/media/YjHsOX61olYQ9rBxlg/giphy.gif);
       background-repeat: no-repeat;
       min-width: 90px;
       min-height: 90px;
       background-position: 55% 20%;
       background-size: 120px;
    }
}

.alertCustom .alert-wrapper.sc-ion-alert-md::before {
    position: absolute;
    top: 45%;
    transform: translate3d(-50%, -55%, 0);
    display: block;
    font-family: "Livvic-Regular";
    font-size: 30vw;
    line-height: 0;
    color: #ebebeb;
    user-select: none;
    opacity: .5;
    font-weight: 900;
    z-index: -1;
}

.alertCustom .alert-wrapper.sc-ion-alert-md::before {
    left: 75%;
    content: '\f071';
}


.alertCustom .alert-message {
    z-index: 2 !important;
}

.alertCustom .alert-sub-title {
    z-index: 2 !important;
}



/*
app-invoices-charts .item-native{
    background: transparent !important;
}
*/

.toastNotification .toast-container {
    --background: rgb(255, 255, 255);
    --button-color: #00a82d;
    --button-size: 30px;
    --color: rgb(158, 0, 0);

}

.modal-multimedia2 {
    //background: url(./assets/img/back2.svg) no-repeat 100% /80%;
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 30% 10%;

    .modal-wrapper.sc-ion-modal-md,
    .modal-wrapper.sc-ion-modal-ios {
        border-radius: 20px 20px 0px 0px !important;
    }

    ion-grid {
        height: 100%;

        ion-row {
            height: 100%;

            ion-col {

                div {
                    margin: auto;

                    ion-button {
                        height: auto;

                        ion-icon {
                            margin: 0px;
                            font-size: 40px;
                        }
                    }
                }

            }
        }
    }
}