@model ConsentViewModel




<div class="mb-3">
    @if (Model.ClientLogoUrl != null)
    {
        <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
    }
    <h1 class="h2">
        @Model.ClientName <br /><br />
        <small>Necesitamos que nos permitas acceder a la siguiente información</small>
    </h1>
</div>


<div class="row">
    <div class="col-sm-12">
        <partial name="_ValidationSummary" />

        <form asp-action="Index" class="consent-form">
            <input type="hidden" asp-for="ReturnUrl" />

            <br />
            @if (Model.IdentityScopes.Any())
            {
                <div class="panel panel-default consent-buttons">
                    <div class="panel-heading">
                        <h2>Información personal</h2>
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </ul>
                </div>
            }
            <br />
            @if (Model.ResourceScopes.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Aplicaciones</h2>
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.ResourceScopes)
                        {
                            <partial name="_ScopeListItem" model="scope" />
                        }
                    </ul>
                </div>
            }

            <br />

            @if (Model.AllowRememberConsent)
            {
                <div class="consent-remember">
                    <label>
                        <input class="consent-scopecheck" asp-for="RememberConsent" />
                        <strong>Recordar mi decisión</strong>
                    </label>
                </div>
            }

            <div class="consent-buttons">
                <button name="button" value="yes" class="btn btn-primary" autofocus>Si, Permitir el acceso</button>
                <button name="button" value="no" class="btn">No, denegar el acceso</button>
                @if (Model.ClientUrl != null)
                {
                    <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <strong>@Model.ClientName</strong>
                    </a>
                }
            </div>
        </form>
    </div>
</div>
