<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{title}}</ion-title>
    <!--
          <ion-searchbar [showCancelButton]="shearching"  placeholder="buscar" cancelButtonText="Custom Cancel" (ionChange)="ionChangeSearchbar($event)"></ion-searchbar>
        -->
  </ion-toolbar>
</ion-header>