﻿<!DOCTYPE html>

<html>
<!-- Head -->
<head>
    <title>LlanoApp Autenticación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/e.ico" type="image/x-icon">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/e.ico" type="image/x-icon">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />*@

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="~/css/login-theme.css">
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<!-- End Head -->
<body>
    <main class="container-fluid w-100" role="main">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center bg-white mnh-100vh">
                <div style="margin: auto auto">
                    <span class="text-center pb-3">
                        <h1 class="u-logo-desktop" width="160" style="font-family:Lobster;font-size: 30px;margin-bottom: 0px;color:#00a82d"> LLanoApp   </h1>
                    </span>

                    <div class="u-login-form">
                        @RenderBody()
                    </div>

                    <div class="u-login-form text-muted py-3 mt-auto">
                        <small><i class="far fa-question-circle mr-1"></i> Si tienes algún problema para registrarte o iniciar sesión, por favor <a href="#">contáctanos</a>.</small>
                    </div>
                </div>
               
            </div>

            <div class="col-lg-6 d-none d-lg-flex flex-column align-items-center justify-content-center">
                <img style="max-width:70%" class="img-fluid position-relative u-z-index-3 mx-5" src="~/images/svg/pc.svg" alt="Image description">

                <figure class="u-shape u-shape--top-right u-shape--position-5">
                    <img src="~/images/svg/shapes/shape-1.svg" alt="Image description">
                </figure>
                <figure class="u-shape u-shape--center-left u-shape--position-6">
                    <img src="~/images/svg/shapes/shape-2.svg" alt="Image description">
                </figure>
                <figure class="u-shape u-shape--center-right u-shape--position-7">
                    <img src="~/images/svg/shapes/shape-3.svg" alt="Image description">
                </figure>
                <figure class="u-shape u-shape--bottom-left u-shape--position-8">
                    <img src="~/images/svg/shapes/shape-4.svg" alt="Image description">
                </figure>
            </div>
        </div>
    </main>


    @*<script src="~/lib/jquery/jquery.js"></script>*@
    @*<script src="~/lib/bootstrap/js/bootstrap.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
