<app-header-shearch [title]="namePage" [resources]="resources" [resourceTypeId]="typeId" >

</app-header-shearch>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Actualizando ...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="resources && !error && resources.length != 0">

    <div>
      <ion-list>
        <ion-item *ngFor="let resource of resources" routerDirection="backward"
          [routerLink]="[ '/resource-detail', resource.id, resource.typeResourceId ]">
          <ion-label text-wrap>
            <h3> <span style="padding-right: 10px">{{resource.name}}</span> <small>{{resource.userApplication.firstName | firstWord}}
                {{resource.userApplication.lastName | firstWord}}</small></h3>
            <p *ngIf="resource.content.length < 200">{{resource.content}}</p>
            <p *ngIf="resource.content.length > 200">{{resource.content.substring(0,200)}} ...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>

  <div class="height-100" *ngIf="resources && !error && resources.length == 0">
    <div *ngIf="resources.length == 0" text-center class="height-80">
      <div class="control-evento">
        <ion-img src="../assets/img/noData.svg"></ion-img>
        <p>No se ha añadido contenido</p>
      </div>

    </div>
  </div>



  <div *ngIf="error" text-center class="height-80">
    <div class="control-evento">
      <ion-img src="../assets/img/error.svg"></ion-img>
      <p>!Opss! No hemos podido conectarnos</p>
      <ion-button fill="clear" class="itemRefresh" (click)="ngOnInit()">
        <ion-icon class="iconRefresh" slot="start" name="refresh-circle"></ion-icon>
        Toque para reintertar
      </ion-button>
    </div>
  </div>



</ion-content>