﻿@using Microsoft.AspNetCore.Identity
@using Llano.Models
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@model Llano.ViewModels.HeaderViewModel



@{
    var controllerName = this.ViewContext.RouteData.Values["action"].ToString();
    ViewData["Title"] = "Default";
}

@if (controllerName != "Privacy")
{
    <!-- Header (Topbar) -->
    <header class="u-header">
        <div class="u-header-left">
            <a class="u-header-logo" asp-controller="Home" asp-action="Index">
                <p class="u-logo-desktop" width="160" style="font-family:Lobster;font-size: 19px;margin-bottom: 0px;"> LLanoApp</p>
                <p class="u-logo-mobile" width="50" alt="Stream Dashboard" style="font-family:Lobster;font-size: 19px;margin-bottom: 0px;">LLano</p>
            </a>
        </div>

        <div class="u-header-middle">
            <a class="js-sidebar-invoker u-sidebar-invoker" href="#!"
               data-is-close-all-except-this="true"
               data-target="#sidebar">
                <i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
                <i class="fa fa-times u-sidebar-invoker__icon--close"></i>
            </a>
        </div>

        <div class="u-header-right">



            <!-- Notifications -->
            <div class="dropdown mr-4">
                <a class="link-muted" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                    @{
                        <span class="h3">
                            <i class="far fa-bell"></i>
                        </span>
                        if (Model.Notifications.Count > 0)
                        {
                            <span class="u-indicator u-indicator-top-right u-indicator--xxs bg-success"></span>
                        }
                    }


                </a>

                <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-4" aria-labelledby="dropdownMenuLink" style="width: 360px;">
                    <div class="card">
                        <div class="card-header d-flex align-items-center py-3">
                            <h2 class="h4 card-header-title">Notificaciones</h2>
                        </div>

                        <div class="card-body p-0">
                            <div class="list-group list-group-flush">
                                @{

                                    foreach (var resource in Model.Notifications.Take(5))
                                    {
                                        <!-- Notification -->
                                        <a class="list-group-item list-group-item-action" asp-controller="Resource" asp-action="Read" asp-route-idResource="@resource.Id">
                                            <div class="media align-items-center">

                                                @{
                                                    @switch (resource.TypeResource.Name)
                                                    {

                                                        case "Palabras":
                                                            <div class="u-icon u-icon--sm rounded-circle bg-success text-white mr-3">
                                                                <span>
                                                                    P
                                                                </span>
                                                            </div>
                                                            break;
                                                        case "Refranes":
                                                            <div class="u-icon u-icon--sm rounded-circle bg-info text-white mr-3">
                                                                <span>
                                                                    R
                                                                </span>
                                                            </div>
                                                            break;
                                                        case "Coplas":
                                                            <div class="u-icon u-icon--sm rounded-circle bg-warning text-white mr-3">
                                                                <span>
                                                                    C
                                                                </span>
                                                            </div>
                                                            break;
                                                        case "Leyendas":
                                                            <div class="u-icon u-icon--sm rounded-circle bg-danger text-white mr-3">
                                                                <span>
                                                                    L
                                                                </span>
                                                            </div>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                }

                                                <div class="media-body">
                                                    <div class="d-flex align-items-center">
                                                        <h4 class="mb-1"> @resource.Name </h4>
                                                        <small class="text-muted ml-auto">@resource.CreatedOn.ToShortDateString() </small>
                                                    </div>

                                                    <p class="text-truncate mb-0" style="max-width: 250px;">
                                                        <span class="text-dark">@resource.UserApplication.Email </span> nuevo contenido.
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- End Notification -->
                                    }
                                }

                            </div>
                        </div>

                        <div class="card-footer py-3">
                            <!-- 5 = notificacions  -->
                            <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="5" class="btn btn-block btn-outline-primary">Ver todas las Notificaciones</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Notifications -->
            <!-- User Profile -->
            <div class="dropdown ml-2">
                <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                    <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="~/svg/user.svg" alt="User Profile">
                    <span class="text-dark d-none d-sm-inline-block">
                        @UserManager.GetUserName(User) <small class="fa fa-angle-down text-muted ml-1"></small>
                    </span>
                </a>

                <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink" style="width: 260px;">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <form id="logoutForm" class="d-flex align-items-center link-dark " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button id="logout" style="padding:0px" type="submit" class=" nav-link btn btn-link text-dark"> <span class="h3 mb-0"><i class="far fa-share-square text-muted mr-3"></i></span>Cerrar Sesion</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End User Profile -->
        </div>
    </header>
}


