﻿@model List<Resource>

@{
    ViewData["Title"] = "Inicio";
}


<main class="u-main" role="main">
    @await Component.InvokeAsync("Sidebar")
    <div class="u-content">
        <div class="u-body">
            <!-- Indicativos de los tipos de contenido -->
            <div class="row">

                <!-- Palabras -->
                <div class="col-sm-6 col-xl-3 mb-4">
                    <div class="card">
                        <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="1">
                            <div class="card-body media align-items-center px-xl-3">

                                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2" style="background: #b3aaaa1f; border-radius: 100%;">

                                    <div class="u-doughnut__label text-success">
                                        @TempData["Palabras"]
                                    </div>

                                </div>
                                <div class="media-body">
                                    <span class="h2 mb-0">Palabras</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>


                <!-- Refranes -->
                <div class="col-sm-6 col-xl-3 mb-4">
                    <div class="card">
                        <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="2">
                            <div class="card-body media align-items-center px-xl-3">
                                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2" style="background: #b3aaaa1f; border-radius: 100%;">

                                    <div class="u-doughnut__label text-info"> @TempData["Refranes"]</div>
                                </div>

                                <div class="media-body">
                                    <span class="h2 mb-0">Refranes</span>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>



                <!-- Coplas -->
                <div class="col-sm-6 col-xl-3 mb-4">
                    <div class="card">
                        <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="3">
                            <div class="card-body media align-items-center px-xl-3">
                                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2" style="background: #b3aaaa1f; border-radius: 100%;">

                                    <div class="u-doughnut__label text-warning"> @TempData["Coplas"] </div>
                                </div>

                                <div class="media-body">
                                    <span class="h2 mb-0">Coplas</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Leyendas -->
                <div class="col-sm-6 col-xl-3 mb-4">
                    <div class="card">
                        <a asp-controller="Resource" asp-action="Index" asp-route-idTypeResource="4">
                            <div class="card-body media align-items-center px-xl-3">
                                <div class="u-doughnut u-doughnut--70 mr-3 mr-xl-2" style="background: #b3aaaa1f; border-radius: 100%;">

                                    <div class="u-doughnut__label text-danger"> @TempData["Leyendas"]</div>
                                </div>

                                <div class="media-body">
                                    <span class="h2 mb-0">Leyendas</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <!--  Tabla para mostrar los contenidos en estado solicitado -->
            <div class="card">
                <div class="card mb-4">
                    <header class="card-header">
                        <h2 class="h3 card-header-title">Solicitudes nuevo contenido</h2>
                    </header>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Solicita</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col" width="180">Fecha solicitud</th>
                                        <th class="text-center" scope="col">
                                            Accion
                                        </th>

                                    </tr>
                                </thead>


                                <tbody>
                                    @{
                                        var index = 1;
                                        foreach (var resource in Model)
                                        {

                                            <tr>
                                                <td>@index</td>
                                                <td>@resource.Name </td>
                                                <td>@resource.UserApplication.FirstName @resource.UserApplication.LastName </td>
                                                <td>@resource.UserApplication.Email </td>
                                                <td>

                                                    @switch (resource.TypeResource.Name)
                                                    {

                                                        case "Palabras":
                                                            <a class="badge badge-soft-success" href="#">@resource.TypeResource.Name</a>
                                                            break;
                                                        case "Refranes":
                                                            <a class="badge badge-soft-info" href="#">@resource.TypeResource.Name</a>
                                                            break;
                                                        case "Coplas":
                                                            <a class="badge badge-soft-warning" href="#">@resource.TypeResource.Name</a>
                                                            break;
                                                        case "Leyendas":
                                                            <a class="badge badge-soft-danger" href="#">@resource.TypeResource.Name</a>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                </td>
                                                <td>@resource.CreatedOn.ToShortDateString() </td>
                                                <td class="text-center">
                                                    <a class="d-flex text-center  align-items-center link-muted py-2 px-3" asp-controller="Resource" asp-action="Read" asp-route-idResource="@resource.Id">
                                                        <i class="fa fa-external-link-alt mr-2"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            index = index + 1;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>


            <!-- Footer -->
            <footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted text-muted">
                <p class="h5 mb-0 ml-auto">
                    LLanoApp
                </p>
            </footer>
            <!-- End Footer -->
        </div>
    </div>
</main>


