<!-- Playback section -->
<div text-center *ngIf="audioPath || urlAudio">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
      <ion-col size="2">
        <!-- Play/Pause -->
        <ion-fab-button class="play-pause-btn" (click)="playRecording()" color="primary" *ngIf="!isPlaying"
          [disabled]="!isReady">
          <ion-icon name="play"></ion-icon>
        </ion-fab-button>

        <ion-fab-button class="play-pause-btn" (click)="pausePlayRecording()" color="secondary" *ngIf="isPlaying"
          [disabled]="!isReady">
          <ion-icon name="pause"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col size="10">
        <ion-range min="0" max="{{duration}}" [(ngModel)]="position">
          <!--  [disabled]="isInPlay && is_playing"  -->
          <ion-label slot="start">{{ position*1000 | date:'mm:ss' }}</ion-label>
          <ion-label slot="end" *ngIf="duration == -1">--:--</ion-label>
          <ion-label slot="end" *ngIf="duration != -1">{{ duration*1000 | date:'mm:ss' }}</ion-label>
        </ion-range>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>