.avatar {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/82/8d/9c/828d9ce86050123bd1ec659604fab945.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
    margin: 0 auto;
    border: 2px solid #f1f1f1;
    box-shadow: 0 0 5px #999;
  }
  
  .play-pause-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px #999;
    font-size: 2.3em;
    border-radius: 50%;
  }