<ion-header>
  <ion-toolbar>
    <ion-searchbar #autofocus showCancelButton="always" placeholder="Buscar" (ionChange)="changeSearchbar($event)"
      (ionCancel)=" cancelShearchbar()">

    </ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="resourcesMatch">
    <div *ngIf="resourcesMatch.length != 0">
      <ion-list>
        <ion-item *ngFor="let resource of resourcesMatch"
          (click)="goToResourceDetail(resource.id , resource.typeResourceId)">
          <ion-label text-wrap>
            <h3><span
                style="padding-right: 10px">{{resource.name}}</span><small>{{resource.userApplication.firstName}}
                {{resource.userApplication.lastName | firstWord}}</small></h3>
            <p *ngIf="resource.content.length < 200">{{resource.content}}</p>
            <p *ngIf="resource.content.length > 200">{{resource.content.substring(0,200)}} ...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="resourcesMatch && resourcesMatch.length == 0" class="height-100">
    <div text-center class="height-80">
      <div class="control-evento">
        <ion-img src="../assets/img/noData.svg"></ion-img>
        <p>No se encontraron coincidencias</p>
      </div>
    </div>
  </div>


</ion-content>