ion-toolbar {
    --background: #fbfbfb;

    ion-searchbar {
        font-family: Livvic-Regular;
        --background: #fbfbfb;
    }

    ion-title {
        font-family: Livvic-Medium;
    }
}

ion-content {
    --ion-background-color: #ffffff !important;

    ion-list {
        --ion-background-color: #ffffff;

        h3 {
            font-family: Livvic-Medium;
            font-size: 1em;
            padding-bottom: 7px;

            small {
                font-family: Livvic-Thin;
            }
        }

        p {
            font-family: Livvic-Regular;
            text-align: justify;
        }

    }
}


.height-100 {
    height: 100%;
}

.height-80 {
    height: 80%;
    display: flex;

    .control-evento {
        margin: auto auto;

        ion-img {
            width: 200px;
            margin: inherit
        }

        p {
            font-family: Livvic-Thin;
        }
    }
}