<app-header-back [title]="namePage">

</app-header-back>

<ion-content>
  <form [formGroup]="formResource" (ngSubmit)="sendResource()" class="ion-padding">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input style="font-size: 1.2em;" formControlName="name"></ion-input>
    </ion-item>

    <div *ngIf="(formResource.get('name').touched) && formResource.get('name').invalid " class="alert alert-danger">
      <div class="textAlert" *ngIf="formResource.get('name').hasError('required')">
        <ion-text color="danger">
          Campo Obligatorio
        </ion-text>
      </div>
    </div>

    <ion-item>
      <ion-textarea style="font-size: 1em;" required formControlName="content" type="text" minlength="10" autoGrow="true" rows="6" cols="12"
        placeholder="Escribe aqui el contenido..">
      </ion-textarea>
    </ion-item>

    <div *ngIf="formResource.get('content').invalid && ( formResource.get('content').touched)"
      class="alert alert-danger">
      <div class="textAlert" *ngIf="formResource.get('content').hasError('required')">
        <ion-text color="danger">
          Campo Obligatorio
        </ion-text>
      </div>

      <div class="textAlert" *ngIf="formResource.get('content').hasError('minlength')">
        <ion-text color="danger">
          Debe tener almenos 10 caracteres
        </ion-text>
      </div>
    </div>

    <div *ngIf="audioRequired">
      <div *ngIf="!audio">
        <ion-item lines="none" class="audio">
          <ion-label class="textDark" text-wrap>
            Adjuntar audio<br>
            <small style="color:#bdbdbd">Este campo es requerido</small>
          </ion-label>
          <ion-button style="height: 60%" fill="clear" (click)="selectFile()">
            <ion-icon name="attach"></ion-icon>
          </ion-button>


        </ion-item>

        <div class="textAlert2 ion-padding" *ngIf="clickSend">
          <ion-text color="danger">
            Campo obligatorio
          </ion-text>
        </div>
      </div>

      <div *ngIf="audio">
        <ion-item>
          <ion-label>
            {{audio.name}}
          </ion-label>
          <ion-button style="height: 60%" fill="clear" (click)="deleteAudio()">
            <ion-icon style="margin: auto auto" name="close" slot="end"></ion-icon>
          </ion-button>

        </ion-item>
      </div>

      <app-player #playerAudio [audioPath]="audioPath">
      </app-player>
    </div>

    <ion-button type="submit" style="margin-top: 15px;" shape="round" expand="block">
      Enviar
    </ion-button>

  </form>
</ion-content>