ion-label {
    font-family: Livvic-Medium !important;
}

.audio {

    ion-label {
        font-family: Livvic-Medium !important;
    }

    ion-icon {
        font-size: 25px;
        color: #ccc;
        padding: 0px 5px;
    }
}

.textAlert {
    padding: 5px 0px;
}
.textAlert2 {
    border-top: 2px solid  var(--ion-color-danger);
    padding: 5px 0px;
}
