﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.u-content {
    display: block;
}
#logout:hover {
    color: #00a82d !important;
}