<ion-content>

  <!-- Segment in a toolbar -->
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChangedStatus($event)" scrollable [value]="typeStatusSelect">
      <ion-segment-button value="1">
        <ion-label>Solicitado</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Descartado</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Aprobado</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="bottom" #fab slot="fixed">
    <ion-fab-button color="primary" class="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" [routerLink]="[ '/resource-create', 4 ]" routerDirection="forward"
        data-desc="Leyenda">
        <ion-icon name="logo-snapchat"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="[ '/resource-create', 3 ]" routerDirection="forward"
        data-desc="Copla">
        <ion-icon name="rose"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="[ '/resource-create', 2 ]" routerDirection="forward"
        data-desc="Refran">
        <ion-icon name="leaf"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="[ '/resource-create', 1 ]" routerDirection="forward"
        data-desc="Palabra">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>



  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Actualizando ...">
    </ion-refresher-content>
  </ion-refresher>


  <div *ngIf="resourcesSelect && !error && resourcesSelect.length != 0">

    <div>
      <ion-list>
        <ion-item *ngFor="let resource of resourcesSelect" routerDirection="forward"
          [routerLink]="[ '/resource-detail', resource.id, resource.typeResourceId ]">
          <ion-label text-wrap>
            <h3> <span style="padding-right: 10px; font-size: 1.2em;">{{resource.name}}</span>
              <small>{{resource.userApplication.firstName | firstWord}}
                {{resource.userApplication.lastName | firstWord}}</small></h3>
            <p style="font-size: 1em;" class="ion-text-justify" *ngIf="resource.content.length < 200">{{resource.content}}</p>
            <p style="font-size: 1em;" class="ion-text-justify" *ngIf="resource.content.length > 200">{{resource.content.substring(0,200)}} ...</p>
          </ion-label>
          <ion-icon *ngIf="resource.typeResourceId == 1" color="medium" slot="end" name="bookmarks"></ion-icon>
          <ion-icon *ngIf="resource.typeResourceId == 2" color="medium" slot="end" name="leaf"></ion-icon>
          <ion-icon *ngIf="resource.typeResourceId == 3" color="medium" slot="end" name="rose"></ion-icon>
          <ion-icon *ngIf="resource.typeResourceId == 4" color="medium" slot="end" name="logo-snapchat"></ion-icon>
        </ion-item>
      </ion-list>
    </div>

  </div>

  <div class="height-100" *ngIf="resourcesSelect && !error && resourcesSelect.length == 0">
    <div text-center class="height-80">
      <div class="control-evento">
        <ion-img src="../assets/img/noData.svg"></ion-img>
        <p>No se ha añadido contenido</p>
      </div>

    </div>
  </div>



  <div *ngIf="error" text-center class="height-80">
    <div class="control-evento">
      <ion-img src="../assets/img/error.svg"></ion-img>
      <p>!Opss! No hemos podido conectarnos</p>
      <ion-button fill="clear" class="itemRefresh" (click)="ngOnInit()">
        <ion-icon class="iconRefresh" slot="start" name="refresh-circle"></ion-icon>
        Toque para reintertar
      </ion-button>
    </div>
  </div>













</ion-content>