ion-fab-button[data-desc] {
    position: relative;
}

    .fab-button-close-active {
        box-shadow: 0px 1px 0px 2000px rgba(255, 255, 255, 0.924), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !important;
        background: rgba(255, 255, 255, 0.924);
    }



ion-fab-button[data-desc]::after {
    margin-top: 10px !important;
    position: absolute;
    font-family: Livvic-Medium;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-dark);
    padding: 9px 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

ion-segment {
    --background: #fbfbfb;

    ion-segment-button {
        ion-label {
            margin: 0px;
            font-family: Livvic-Medium;
        }
    }
}


ion-content {
    --ion-background-color: #ffffff !important;
}

ion-toolbar {
    --background: #fbfbfb;
}

.detail-resource {
    h3 {
        font-family: Livvic-Medium;
        padding-bottom: 7px;
        font-size: 1.2em;
    }

    .autor-resource {
        font-family: Livvic-Medium;

        ion-icon {
            padding-right: 5px !important;
            font-size: 1.5em;
            vertical-align: middle;
        }

        .create-resource {
            padding-left: 20px;
        }
    }

    .content-resource {
        font-size: 1em;
        font-family: Livvic-Regular;
    }
}

.height-100 {
    height: 100%;
}

.height-80 {
    height: 80%;
    display: flex;

    .control-evento {
        margin: auto auto;

        ion-img {
            width: 200px;
            margin: inherit
        }

        p {
            font-family: Livvic-Thin;
        }
    }
}