ion-toolbar {
    --background: #fbfbfb;
    ion-title{
      font-family: Lobster;
      span{
        font-size: 28px;vertical-align: middle;padding: 0px 10px 0px 0px;
      }
    }
  }
  
  ion-card{
    --background: #ffffff;
    ion-card-subtitle{
      ion-label{
        font-family: Livvic-Medium;
      }
    }
  }
  
  .home-card {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
  
    /*
      -webkit-margin-start: 0 !important;
      margin-inline-start: 0 !important;
      -webkit-margin-end: 0 !important;
      margin-inline-end: 0 !important;
      border-radius: 12px !important;
      margin-top: 6px !important;
      margin-bottom: 6px !important;
  */
    ion-img {
      margin: 0 auto;
      display: block;
      height: 160px;
      padding: 10px;
    }
  }
  
  ion-button {
    ion-badge {
      position: absolute;
      top: -0.2rem;
      right: -0.2rem;
      opacity: 0.9;
  
      &~ion-icon {
        margin-right: 1.2rem;
      }
    }
  }