
<ion-header translucent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <span>
          <img src="../assets/img/splash.svg" style="width: 30px;" alt="">
        </span>
        LLanoApp
      </ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row padding-top>
        <ion-col size="6">
          <ion-card class="home-card" routerDirection="forward" [routerLink]="[ '/resource-list', 4 ]" >
            <ion-img src="../assets/img/leyendas.svg"></ion-img>
            <ion-card-subtitle class="ion-text-center">
              <ion-label >Leyendas</ion-label>
            </ion-card-subtitle>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="home-card" [routerLink]="[ '/resource-list', 1 ]">
            <ion-img src="../assets/img/palabras.svg"></ion-img>
            <ion-card-subtitle class="ion-text-center" >
              <ion-label>Palabras</ion-label>
            </ion-card-subtitle>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="home-card" routerDirection="forward" [routerLink]="[ '/resource-list', 3 ]">
            <ion-img src="../assets/img/coplas.svg"></ion-img>
            <ion-card-subtitle class="ion-text-center" >
              <ion-label>Coplas</ion-label>
            </ion-card-subtitle>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="home-card" routerDirection="forward" [routerLink]="[ '/resource-list', 2 ]">
            <ion-img src="../assets/img/refranes.svg"></ion-img>
            <ion-card-subtitle class="ion-text-center" >
              <ion-label >Refranes</ion-label>
            </ion-card-subtitle>
          </ion-card>
        </ion-col>

        <ion-col size="12" *ngIf="!welcome">
          <a style="text-decoration: none;" (click)="goToHome()">
            <p style="text-align: right;">
              <ion-text color="primary">
                Iniciar como Colaborador
              </ion-text>
            </p>
          </a>
        
        </ion-col>
        
      </ion-row>
    </ion-grid>
<!--
    <ion-button [routerLink]="[ '/welcome']" >
     welcome
    </ion-button>
    -->
  </ion-content>