﻿@model List<Customer>;

@{
    ViewData["Title"] = "Usuarios";
}


<main class="u-main" role="main">
    @await Component.InvokeAsync("Sidebar")
    <div class="u-content">
        <div class="u-body">
            <!--  Tabla para mostrar todos los usuarios registrados -->
            <div class="card">
                <div class="card mb-4">
                    <header class="card-header">
                        <h2 class="h3 card-header-title">Listado de usuarios registrados</h2>
                    </header>@{
                        ViewData["Title"] = "Inicio";
                    }

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">telefono</th>
                                        <th scope="col">correo</th>
                                        <th class="text-center" scope="col">
                                            Accion
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        var index = 1;
                                        foreach (var user in Model)
                                        {

                                            <tr>
                                                <td>@index</td>
                                                <td>@user.FirstName </td>
                                                <td>@user.LastName </td>
                                                <td>@user.PhoneNumber </td>
                                                <td>@user.Email </td>
                                                <td class="text-center">
                                                    <a class="d-flex text-center  align-items-center link-muted py-2 px-3" asp-controller="User" asp-action="Read" asp-route-UserId="@user.Id">
                                                        <i class="fa fa-external-link-alt mr-2"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            index = index + 1;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</main>




