﻿@model CustomerMessageViewModels
@{
    ViewData["Title"] = "Usuario";
}

<main class="u-main" role="main">
    @await Component.InvokeAsync("Sidebar")
    <div class="u-content">
        <div class="u-body">

            <div class="mb-4">
                <nav aria-label="breadcrumb">
                    <h1 style="font-family:Livvic-Medium" class="h3">@ViewData["Title"]</h1>
                </nav>
            </div>

            <form id="formUser" class="validateDontSubmit">
                <!-- Form Controls -->
                <div class="row">

                    <!-- Informacion del Usuario -->
                    <div class="col-12 mb-4">
                        <div class="card">
                            <header class="card-header">
                                <h2 class="h3 card-header-title">Información Usuario</h2>
                            </header>

                            <div class="card-body row">

                                <input type="hidden" asp-for="@Model.UserApplication.FirstName" class="form-control" required />
                                <input type="hidden" asp-for="@Model.UserApplication.LastName" class="form-control" required />
                                <input type="hidden" asp-for="@Model.UserApplication.CreatedOn" class="form-control" required />

                                <div class="form-group col-12 col-md-6 mb-4">
                                    <label for="defaultInput">Nombres y Apellidos</label>
                                    @{
                                        var nombreCompleto = Model.UserApplication.FirstName + " " + Model.UserApplication.LastName;
                                    }

                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="fa fa-user-circle form-icon__item"></i>
                                        </span>
                                        <input value="@nombreCompleto" class="form-control form-icon-input-left" required disabled>
                                    </span>

                                </div>

                                <div class="form-group col-12 col-md-6 mb-4">
                                    <label for="defaultInput">Telefono</label>
                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="fa fa-phone form-icon__item"></i>
                                        </span>
                                        <input value="@Model.UserApplication.PhoneNumber" class="form-control form-icon-input-left" required disabled>
                                    </span>

                                </div>

                                <div class="form-group col-12 col-md-6  mb-4">
                                    <label for="defaultInput">Correo Electronico</label>
                                    <span class="form-icon-wrapper">
                                        <span class="form-icon form-icon--left">
                                            <i class="fa fa-envelope-square form-icon__item"></i>
                                        </span>
                                        <input asp-for="@Model.UserApplication.Email" class="form-control form-icon-input-left" required disabled>

                                    </span>

                                </div>

                                <div class="form-group col-12 col-md-6  mb-4">
                                    <label for="inputLeftIcon">Fecha de Registro</label>
                                    <input value="@Model.UserApplication.CreatedOn.ToShortDateString();" class="form-control" required disabled>
                                </div>


                            </div>
                            <div class="col-12 mb-4 ">
                                <span style="float: right">
                                    <button id="eliminarUsuario" class="btn btn-danger">Eliminar</button>
                                </span>

                            </div>

                        </div>


                    </div>

                </div>





            </form>


            <!--  Tabla para mostrar los contenidos en estado solicitado -->
            <div class="card">
                <div class="card mb-4">
                    <header class="card-header">
                        <h2 class="h3 card-header-title">Lista de Recursos</h2>
                    </header>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col" width="180">Fecha solicitud</th>
                                        <th class="text-center" scope="col">
                                            Accion
                                        </th>

                                    </tr>
                                </thead>


                                <tbody>
                                    @{

                                        var index = 1;

                                        var resourcesR = Model.Resources;

                                        foreach (var resource1 in resourcesR)
                                        {

                                            <tr>
                                                <td> @index</td>
                                                <td> @resource1.Name</td>
                                                <td>

                                                    @switch (resource1.StatusResourceId)
                                                    {

                                                        case 1:
                                                            <a class="badge badge-soft-warning" href="#">Solicitado</a>
                                                            break;
                                                        case 2:
                                                            <a class="badge badge-soft-danger" href="#">Descartado</a>
                                                            break;
                                                        case 3:
                                                            <a class="badge badge-soft-success" href="#">Aprobado</a>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                </td>

                                                <td>

                                                    @switch (resource1.TypeResource.Name)
                                                    {

                                                        case "Palabras":
                                                            <a class="badge badge-soft-success" href="#">@resource1.TypeResource.Name</a>
                                                            break;
                                                        case "Refranes":
                                                            <a class="badge badge-soft-info" href="#">@resource1.TypeResource.Name</a>
                                                            break;
                                                        case "Coplas":
                                                            <a class="badge badge-soft-warning" href="#">@resource1.TypeResource.Name</a>
                                                            break;
                                                        case "Leyendas":
                                                            <a class="badge badge-soft-danger" href="#">@resource1.TypeResource.Name</a>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                </td>
                                                <td>@resource1.CreatedOn.ToShortDateString() </td>
                                                <td class="text-center">
                                                    <a class="d-flex text-center  align-items-center link-muted py-2 px-3" asp-controller="Resource" asp-action="Read" asp-route-idResource="@resource1.Id">
                                                        <i class="fa fa-external-link-alt mr-2"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            index = index + 1;


                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>
</main>

<!-- Modals Discarded -->
<div class="modal fade " id="modalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-block">
            <div class="modal-header" style="display: block">
                <h4 style="font-family:Livvic-Medium" class="modal-title" id="exampleModalLongTitle">Eliminar Usuario</h4>
                <p>
                    Recuerde que si elimina el usuario tambien se eliminara el contenido aportado por el mismo.
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @{
                    var nombreCompleto2 = Model.UserApplication.FirstName + " " + Model.UserApplication.LastName;
                }

                <form id="formDiscardedUser" asp-controller="User" asp-action="Delete" method="post">

                    <input type="hidden" asp-for="@Model.UserApplication.Id" class="form-control" required />

                    <label for="defaultInput"> Cuentale a @nombreCompleto2 por que eliminas su cuenta</label>

                    <div class="form-group col-12 mb-4">
                        <textarea asp-for="@Model.Message" class="form-control text-justify" rows="5" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-danger d-none">Oculto</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" form="formDiscardedUser" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>


