ion-content {
    --ion-background-color: #ffffff !important;
}

ion-toolbar {
    --background: #fbfbfb;
}

.detail-resource {
    h3 {
        font-family: Livvic-Medium;
        padding-bottom: 7px;
        font-size: 1.4em;
    }
    
    .autor-resource {
        font-family: Livvic-Medium;

        ion-icon {
            padding-right: 5px !important;
            font-size: 1.5em;
            vertical-align: middle;
        }
        
        .create-resource {
            padding-left: 20px;
        }
    }

    .content-resource {
        font-size: 1em;
        font-family: Livvic-Regular
    }
}

.height-100 {
    height: 100%;
}

.height-80 {
    height: 80%;
    display: flex;

    .control-evento {
        margin: auto auto;

        ion-img {
            width: 200px;
            margin: inherit
        }

        p {
            
            font-family: Livvic-Thin;
        }
    }
}