<app-header-back [title]="namePage">
</app-header-back>

<ion-content>
  <div *ngIf="resource && !error" class="detail-resource">
    <ion-item lines="none">
      <ion-label text-wrap>
        <h3> {{resource.name}} </h3>
        <p class="autor-resource">
          <ion-icon name="create"></ion-icon>
          <small style="font-family: Livvic-Light;">{{resource.userApplication.firstName | firstWord}}
            {{resource.userApplication.lastName | firstWord}}</small>
          <span class="create-resource">
            <ion-icon name="time"></ion-icon>
            <small>{{resource.createdOn | date}}</small>
          </span>
        </p>
        <hr>
        <p class="content-resource" text-justify>{{resource.content}}</p>

        <div *ngIf="audioRequired">
          <app-player #playerAudio [urlAudio]="urlMedia+resource.audio">
          </app-player>
        </div>
        
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="error" text-center class="height-80">
    <div class="control-evento">
      <ion-img src="../assets/img/error.svg"></ion-img>
      <p>!Opss! No hemos podido conectarnos</p>
      <ion-button fill="clear" class="itemRefresh" (click)="ngOnInit()">
        <ion-icon class="iconRefresh" slot="start" name="refresh-circle"></ion-icon>
        Toque para reintertar
      </ion-button>
    </div>
  </div>

</ion-content>