﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<main class="container-fluid w-100" role="main">
    <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center bg-white mnh-100vh">


            <div class="u-login-form form-login">
                <form class="mb-3" action="/">
                    <div class="card show-border">
                        <span class="text-center pb-3 tittleManta">
                            <h1 class="u-logo-desktop" width="160" style="font-family:Lobster;font-size: 30px;margin-bottom: 0px;color:#00a82d"> LLanoApp   </h1>
                        </span>
                        <h2 class="h2">¡Perfecto!</h2>
                        <p>Por favor revise su correo electrónico para restablecer su contraseña.</p>

                        <div class="row">
                            <div class="col recuperar">
                                ¿Aun no tienes la App? <a href=""><span class="float-right ">descargala aqui</span></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6 d-none d-lg-flex flex-column align-items-center justify-content-center">
            <img style="max-width:70%" class="img-fluid position-relative u-z-index-3 mx-5" src="~/svg/pc.svg" alt="Image description">

            <figure class="u-shape u-shape--top-right u-shape--position-5">
                <img src="~/svg/shapes/shape-1.svg" alt="Image description">
            </figure>
            <figure class="u-shape u-shape--center-left u-shape--position-6">
                <img src="~/svg/shapes/shape-2.svg" alt="Image description">
            </figure>
            <figure class="u-shape u-shape--center-right u-shape--position-7">
                <img src="~/svg/shapes/shape-3.svg" alt="Image description">
            </figure>
            <figure class="u-shape u-shape--bottom-left u-shape--position-8">
                <img src="~/svg/shapes/shape-4.svg" alt="Image description">
            </figure>
        </div>
    </div>
</main>


