﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<main class="container-fluid w-100" role="main">
    <div class="row">
        <div class="col-lg-6 d-flex lex-column justify-content-center align-items-center bg-white mnh-100vh">


            <div class="u-login-form form-login">

                <form id="account" class="mb-3" method="post">
                    <div class="card show-border">
                        <span class="text-center pb-3">
                            <h1 class="u-logo-desktop" width="160" style="font-family:Lobster;font-size: 30px;margin-bottom: 0px;color:#00a82d"> LLanoApp   </h1>
                        </span>
                      
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email">Correo Electronico </label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Contraseña </label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Iniciar de Sesión</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                            </p>
                            @*
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                                *@
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="col-lg-6 d-none d-lg-flex flex-column align-items-center justify-content-center">
            <img style="max-width:70%" class="img-fluid position-relative u-z-index-3 mx-5" src="~/svg/pc.svg" alt="Image description">

            <figure class="u-shape u-shape--top-right u-shape--position-5">
                <img src="~/svg/shapes/shape-1.svg" alt="Image description">
            </figure>
            <figure class="u-shape u-shape--center-left u-shape--position-6">
                <img src="~/svg/shapes/shape-2.svg" alt="Image description">
            </figure>
            <figure class="u-shape u-shape--center-right u-shape--position-7">
                <img src="~/svg/shapes/shape-3.svg" alt="Image description">
            </figure>
            <figure class="u-shape u-shape--bottom-left u-shape--position-8">
                <img src="~/svg/shapes/shape-4.svg" alt="Image description">
            </figure>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
