
ion-content{
    font-family:Livvic-Regular;
    // background-image: linear-gradient(225deg, #b739f3 0%, #6850fb 100%);
    background-color: #eaeaea !important;
 }
 .signcard
 {
     height: 70%;
     border-radius: 13px;
     box-shadow: 0px 20px 20px rgba(0,0,0,0.08);
     background-color: #FFFFFF;
     z-index:2;

     
 }

 .detailsholder{
     ion-label{
         color:rgb(137,137,137);;
     }
     ion-input{
         background-color: #f5f5f5;
         border-radius: 4px;

     }
 }

 .imgholder{
     img{
         width: 100px;
         height: 100px;
         //border-radius: 50%;
        
         //top:-10px;
         position: relative;
     }
     width: 100px;
     z-index: 3;
     position: relative;
     top:25px;
     margin-left: 35%;
     border-radius: 50%;
    // margin-right: auto
    
 }

 .segment-button.segment-activated {
    // border-color: #b739f3 !important;
     opacity: 1;
   //  background-image: linear-gradient(225deg, #b739f3 0%, #6850fb 100%);
    // color: white !important;
 }

 .loginbtn{
     border-radius: 4px;
     height: 45px;
    // background-image: linear-gradient(225deg, #b739f3 0%, #6850fb 100%);
     margin-top: 5%;
 }

 .segbtn1{
     border-top-left-radius:  13px;
 }

 .segbtn2{
     border-top-right-radius:  13px;
 }
ion-header{
    --background-color: #eaeaea !important;
}

 .header-md:after{
     background-image: none !important;
 }