<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="[ '/welcome' ]">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


</ion-header>

<ion-content class="ion-padding" >


    <div class="imgholder ion-text-center">
        <img [src]="avatarimage" alt="">
    </div>
    <div class="signcard ion-text-center">

        <ion-segment [(ngModel)]="signform">
            <ion-segment-button (click)="changeAvatar()" class="segbtn1" value="login">
                <span style="font-size: 0.8em;">
                    Invitado
                </span>
            </ion-segment-button>
            <ion-segment-button (click)="changeAvatar()" class="segbtn2" value="signup">
                <span style="font-size: 0.8em;">
                    Colaborador
                </span>

            </ion-segment-button>
        </ion-segment>


        <div class="loginform" [ngSwitch]="signform">
            <div class="ion-padding" *ngSwitchCase="'login'">
                <h2>Invitado</h2>
                <div class="detailsholder ion-padding">
                    <p>
                        Como invitado solo podras acceder al contenido, si tienes algo que aportar puedes registarte.
                    </p>
                </div>

                <div class="ion-padding-horizontal">

                    <ion-button [routerLink]="[ '/home' ]" routerDirection="root">Continuar</ion-button>


                </div>

            </div>

            <div class="ion-padding" *ngSwitchCase="'signup'">
                <h2>Colaborador</h2>
                <div class="detailsholder ion-padding">
                    <p>
                        Somos llaneros salvando el patrimonio de la cultura, para proximas generaciones
                    </p>
                </div>

                <div class="ion-padding-horizontal">

                    <ion-button (click)="google()">
                        Continuar
                        <ion-icon slot="end" name="logo-google"></ion-icon>
                    </ion-button>
                </div>

            </div>

        </div>
    </div>

</ion-content>