<ion-app>
  <ion-content *ngIf="showSplash" >
    <div class="page-centered-element">
      <div class="logoTopRight">
       <!-- <img src="../assets/img/logo.svg" alt=""> -->
      </div>
      <div class="logo" style="display: block;">
        <img style="display: block;" src="../assets/img/splash.svg" alt="">
        <p class="ion-text-center" style="color:#222428;font-family: Lobster;font-size: 1.8em;">LlanoApp</p>
      </div>

      <div class="content">  
        <div class="spinner">          
        </div>
       </div>

     
      
    </div>
</ion-content>

  <ion-router-outlet *ngIf="!showSplash" ></ion-router-outlet>
</ion-app>
