.header-md:after {
    background-image: none !important;
  }
  
  
  .page-centered-element {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   // background-image:linear-gradient(to bottom, #ffffff75, #000000ba);
    transition: 2s linear;
  }
  
  .content{
    display: block;
    position: absolute;
    justify-content:center;
    align-items:center;
    bottom: 10%;
    background:#fff;
  }
  
  .spinner{
    width:60px;
    height:60px;
    border-radius:50%;
    border:5px solid #00a82d;
    background:transparent;
    border-top-color:#efef;
    border-bottom-color: #efef;
    border-left-color: #00a82d;
   animation:spin 1.5s linear infinite;
    position:relative;
  }
  
  @keyframes spin{
    0%{
      background:transparent;
      transform: rotate(720deg); 
    }
  
  }
  
  .logoTopRight {
    position: absolute;
    top: 0px;
    right: 0px;
  
    img {
      max-width: 100%;
      border: 0;
      width: 80%;
      float: right;
      opacity: 0.3;
    }
  }
  
  .logo {
    opacity: 0.98;
    width: 68%;
    margin: auto;
    display: flex;
  
    img {
      max-width: 100px;
      border: 0;
      width: 100%;
      margin: auto;
      margin-top: -80px;
    }
  }