.footer-md:before,
.header-md:after {
    background-image: none;
}

ion-content {
    --padding-top: 0px;
    --background: white;

    ion-slide {
        margin-top: -20px;

        ion-row {
            padding-top: 0px;

            ion-label {
                font-size: 30px;
                line-height: 36px;
                font-family: Livvic-Medium;
            }
        }
    }

    ion-input {
        font-size: 1.3em;
    }

    ion-item,
    ion-toolbar {
        --background: white;
    }
}

ion-footer {

    ion-row {
        padding: 20px 0px;

        ion-col {
            margin: auto;

            ion-button {
                height: 45px;                
            }
            ion-button.button-disabled {
                color: var(--ion-color-medium);
                --border-color: var(--ion-color-medium);
            }
        }
    }


}